{{ partial "header" . }}
<div class="container-fluid">
    {{partial "sidebar" .}}

<div class="span6">
  <!-- XXX: work in progress -->
  <!-- Merge in "_index" style content"-->
  {{.Content}}

  <!-- Merge in content from explicit section named file"-->
  {{ if eq .Kind "section" }}
    {{$mdFile := add (trim .URL "/") ".md"}}
    {{range where .Site.Pages  ".File.Path" $mdFile}}
        {{ .Content }}
    {{end}}
  {{end}}
</div><!--/span-->
</div><!--/row-->

{{ partial "footer" . }}
