<!--Builds up the side navebar-->

{{$context := .}}
{{$parent := $.Scratch.Get "CURNAV" }}
{{$pageSet := $.Scratch.Get $parent}}
{{ if $.Scratch.GetSortedMapValues $parent}}
<ul class="nav nav-list tree">
{{range $.Scratch.GetSortedMapValues $parent}}
    <!-- variations of name -->
    {{$child := .}}
    {{$noExt := index (split $child ".") 0}}  
    {{$plusExt := add $child ".md"}}
    {{$tail := index (last 1 (split $noExt  "/")) 0 }}

    <!-- Useful Tests -->
    {{$pathPageMap := $.Scratch.Get "pathToPage"}}
    {{$isPage := isset $pathPageMap $child }}
    {{$isAlsoPage := isset $pathPageMap $plusExt }}
    {{$hasChildren := $.Scratch.Get $child }}
    {{$isAlsoDir := isset $pageSet $noExt }}
    {{$isSection := eq $parent "toplevel"}}

    <!-- Mangling to get page title -->
    <!-- Just a plain leaf -->
    {{ if $isPage}}
        {{$page := index  $pathPageMap $child}}
        {{$.Scratch.Set "DISP" (trim (partial "h1" $page) "\n") }}
        {{$.Scratch.Set "URL" (ref $page $page.File.Path)  }}

    {{else}}
        <!-- Collapsible parent node and also a linkable page -->
        {{ if $isAlsoPage }}
            {{$page := index  $pathPageMap $child}}
            {{$.Scratch.Set "DISP" ((trim (partial "h1" $page) "\n") | default $tail) }}
            {{$.Scratch.Set "URL" (add (($noExt |lower) | absURL) "/")}}
        <!-- Just a directory with no page -->
        {{else}}
            {{$.Scratch.Set "DISP" $tail}}
        {{ end }}
    {{end}}
    {{$disp := $.Scratch.Get "DISP" | truncate 20}}
    {{$url := $.Scratch.Get "URL"}}

    <!-- If the page exists then make it a link -->
    {{ if or (or $isPage $isAlsoPage ) $isSection }}
        <!-- Skip pages that are also directories, "hidden pages, and the homepage"-->
        {{if not (or (or (and $isPage $isAlsoDir) (eq $tail "_index")) (eq $child "index.md"))}}
            <!-- Actual nav link -->
            <li>
            {{ if $hasChildren }} 
                <label class="tree-toggle nav-header">{{$disp}}
                    {{if $isAlsoPage}}
                    <a href={{$url}}> [go]</a>
                    {{end}}
                </label>
            {{else}}
            <a href={{$url}}> {{$disp}} </a>
            {{end}}
        {{end}}
    {{else}}
        <!-- No page to link to -->
        <li><label {{ if $hasChildren }} class="tree-toggle nav-header" {{end}}>
                {{$disp}}</label>
    {{ end}}

    <!-- Continue adding children -->
    {{$.Scratch.Set "CURNAV" $child }}
    {{ partial "nav/child" $context}}
        </li>
{{ end }}
</ul>
{{ end}}
