
<div class="well sidebar-nav">
    <!-- Build up map of paths-->
    {{$context:=.}}
    {{ range .Site.Pages }}
        {{ $curPage := .}}
        <!-- Get path as a list-->
        {{ $pathParts :=  (split (trim .File.Path "/") "/") }}
        {{ $.Scratch.Set "PREFIX" ""}}
        {{ $.Scratch.Set "SUFFIX" $pathParts }}
        <!-- Turn a path into a tree-ish data structure of parent/child relationships-->
        {{partial "nav/build" $context}}

        <!-- Build Convenience map of path to page for ease displaying later -->
        {{ $.Scratch.SetInMap "pathToPage"  .File.Path $curPage}}
    {{ end }} 

    <!-- Actually Display nav tree-->
    {{$.Scratch.Set "CURNAV" "toplevel" }}

    <ul class="nav nav-list">
        {{partialCached "nav/child" .}}
    </ul>
</div><!--/.well -->
