      <hr>

      <footer>
        <p>&copy; Company 2013</p>
      </footer>

    </div><!--/.fluid-container-->

    <!--javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{"vendor/jquery-3.2.1.min.js" | relURL}}"></script>
    <script src="{{"vendor/bootstrap/js/bootstrap.min.js" | relURL}}"></script>
<script type="text/javascript">
    $('.tree-toggle').click(function () {
	    $(this).parent().children('ul.tree').toggle();
    });
    $(function(){
        $('.tree-toggle').parent().children('ul.tree').toggle();
    })
</script>
  </body>
</html>
