<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ .Title }} - {{ .Site.Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{.Description}}">
    <meta name="author" content="{{.Author}}">

    <!-- Bootstrap styles -->
    <link href="{{ "vendor/bootstrap/css/bootstrap.min.css"| relURL }}" rel="stylesheet">
    <link href="{{ "vendor/bootstrap/css/bootstrap-responsive.css" | relURL }}" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }

      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    </style>

    <!-- Other styles -->
    <link href="{{ "vendor/css/horsey.css"| relURL }}" rel="stylesheet">

  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="{{.Site.BaseURL}}">{{.Site.Title | default "Home"}}</a>
          <div class="nav-collapse collapse">
            {{ partialCached "search.html" . }}
            <ul class="nav">
                <!--
                    XXX: PUT MENU HERE
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
                -->
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

