<div class="searchbox pull-right">
    <label for="search-by"><i class="fa fa-search"></i></label>
    <input data-search-input id="search-by" type="text" placeholder="{{T "Search-placeholder"}}">
    <span data-search-clear=""><i class="fa fa-close"></i></span>
</div>

<script src="{{"vendor/jquery-3.2.1.min.js" | relURL}}"></script>
<script type="text/javascript" src="{{"vendor/js/lunr-2.0.4.js" | relURL}}"></script>
<script type="text/javascript" src="{{"vendor/js/horsey.js" | relURL}}"></script>
<script type="text/javascript">
    var baseurl = "{{.Site.BaseURL}}";
    var buildId = "{{ now }}";
</script>
<script type="text/javascript" src="{{"js/search.js" | relURL}}"></script>
